/* General Styles */
body {
    padding: 0;
    margin: 0;
}


.carousel {
    background-color: red;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 15px;
    
}


/* Navigation Bar Styles */
nav {
    background-color: rgba(22, 22, 24, 255);
    margin: 0;
    padding: 0;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
   
}

nav img {
    height: 100%;
    
}

nav input[type="text"] {
    padding: 8px;
    border: none;
    font-size: 17px;
    background-color: #f2f2f2;
    border-radius: 5px;
  
   
}







/* Links Bar Styles */
.links-bar {
    background-color:rgb(32, 32, 32);
    overflow: hidden;
    text-align: center;
    
}

.links-bar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.links-bar a:hover {
    background-color: #ddd;
    color: black;
    
}


.br {
    height: 500px;
    background: linear-gradient(Grey);
    
}







